@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-green-400 font-mono;
}


.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
